<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Строительные работы</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
<main class="main">
    <header class="header">
        <div class="wrap">
            <a href="/" class="logo">Бригада мастеров</a>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__list-item"><a class="nav__list-link" href="#">Главная</a></li>
                    <li class="nav__list-item"><a class="nav__list-link" href="#">Услуги</a></li>
                    <li class="nav__list-item"><a class="nav__list-link" href="#">О нас</a></li>
                    <li class="nav__list-item"><a class="nav__list-link" href="#">Контакты</a></li>
                </ul>
            </nav>
            <div class="space"></div>
            <div class="number-wrap"><a class="number number--black" href="tel:+380665222451">+38 (066) 5 222 451</a></div>
        </div>
    </header>

    <section class="section">

        <article class="article-img">
            <div class="wrap article-img__text-wrap">
                <h1 class="article-img__title">Звоните</h1>
                <p class="article-img__title-sub">Спроектируем, построим</p>
                <a class="number number--yellow number--big" href="tel:+380665222451">+38 (066) 5 222 451</a>
            </div>
        </article>

        <article class="article article-services">
            <div class="wrap article-services">
                <h2 class="article__title article-services__title">Наши услуги</h2>

                <div class="article-services__wrap-cart">
                    <div class="card">
                        <div class="card__img-wrap">
                            <img class="card__img" src="{% static 'main/img/hammer.webp' %}" alt="" >
                        </div>
                        <h3 class="card__title">Кровельщики</h3>
                        <p class="card__text">Монтаж: металлочерепицы, профнастила, фальцевой кровли.</p>
                    </div>
                    <div class="card">
                        <div class="card__img-wrap">
                            <img class="card__img" src="{% static 'main/img/key.webp' %}" alt="" >
                        </div>
                        <h3 class="card__title">Сантехники</h3>
                        <p class="card__text">Установка: систем отобления, канализации, водоснобжения под ключ.</p>
                    </div>
                    <div class="card">
                        <div class="card__img-wrap">
                            <img class="card__img" src="{% static 'main/img/screwdriver.webp' %}" alt="">
                        </div>
                        <h3 class="card__title">Электрики</h3>
                        <p class="card__text">Монтаж электроовещения, електрокотлов</p>
                    </div>
                    <div class="card">
                        <div class="card__img-wrap">
                            <img class="card__img" src="{% static 'main/img/tassel.webp' %}">
                        </div>
                        <h3 class="card__title">Маляры</h3>
                        <p class="card__text">Штукатурные работы, шпаклевка стен внутрених и наружных, покраска фасадов и помещений</p>
                    </div>
                    <div class="card">
                        <div class="card__img-wrap">
                            <img class="card__img" src="{% static 'main/img/pliers.webp' %}" class="card-img" alt="" >
                        </div>
                        <h3 class="card__title">Высотники</h3>
                        <p class="card__text">Покраска металоконструкций, покраска фасадов, подьем груза, нестандартные работы</p>
                    </div>
                </div>

            </div>
        </article>

    </section>
</main>
</body>
</html>