* {
    box-sizing: border-box;
}

@font-face {
font-family: "Raleway-Regular";
src: url("../font/releway/Raleway-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Raleway-Bold";
    src: url("../font/releway/Raleway-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
} 

@font-face {
    font-family: "Roboto-Medium";
    src: url("../font/roboto/Roboto-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Roboto-Light";
    src: url("../font/roboto/Roboto-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    background: #ffffff;
    color: #1a1a1a;
    font-size: 16px;
    line-height: 1.4;
    font-family: "Raleway-Regular", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.wrap {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
}

.header {
    background: #FFDE0E;
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*right: 0;*/
}

.header .wrap {
    height: 60px;
    display: flex;
    align-items: center;
}

.header .logo {
    color: #1a1a1a;
    font-family: "Raleway-Bold", sans-serif;
    font-size: 22px;
    text-decoration: none;
    margin-right: 3%;
}

.nav__list {
    display: flex;

}
.nav__list-link {
    font-size: 15px;
    color: #1a1a1a;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
.nav__list-link:hover {
    text-decoration: underline;
}

.number {
    text-decoration: none;
    font-family: "Roboto-Light", sans-serif;
    font-size: 16px;
}
.number:hover {
    text-decoration: underline;
}
.number--black {
    font-size: 20px;
    color: #1a1a1a;
}
.number--yellow {
    color: #FFDE11;
}
.number--big {
    font-size: 44px;
}

.space {
    flex-grow: 1;
}

.article-img {
    display: flex;
    background: #6C6C6E url("../img/bg_worker.webp") center;
    background-size: cover;
    height: 75vh;
    min-height: 320px;
}

.article-img__text-wrap {
    margin-left: 10%;
    margin-top: 100px;
}

.article-img__title {
    font-size: 44px;
    color: #ffffff;
    text-transform: uppercase;
}

.article-img__title-sub {
    color: #ffffff;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.article {
    padding-top: 90px;
    padding-bottom: 90px;
}

.article__title {
    font-size: 44px;
    margin-bottom: 90px;
    text-align: center;
    text-transform: uppercase;
}

.article-services {
    background: rgb(43, 108, 163);
}

.article-services__title {
    color: #ffffff;
}

.article-services__wrap-cart {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -40px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 300px;
    margin-top: 40px;
    padding: 10px;
}
.card__img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #ffffff;
    width: 150px;
    height: 150px;
}
.card__img {
    max-height: 120px;
}
.card__title {
    margin-top: 10px;
    font-size: 24px;
    /*width: 100%;*/
}

.card__text {
    font-size: 16px;
    margin-top: 10px;
    text-align: justify;
}